{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}
{% block title %}Облік Відвідування{% endblock title %}

{% block content %}
    <center>
		<a href="#">&larr;</a>
		Березень
		<a href="#">&rarr;</a>
	</center>

    <!--
	<center>
		<a href="{% url "journal" %}?page={{ current_page }}&amp;month={% if month = 1 %}12&amp;year={{ year|add:"-1" }}{% else %}{{ month|add:"-1" }}&amp;year={{ year }}{% endif %}">&larr;</a>
		{{ monthyear }}
		<a href="{% url "journal" %}?page={{ current_page }}&amp;month={% if month = 12 %}1&amp;year={{ year|add:"1" }}{% else %}{{ month|add:"1" }}&amp;year={{ year }}{% endif %}">&rarr;</a>
	</center>
	-->

					
<!-- Start Students Listing -->
<table class="table table-hover table-strip table-bordered ">
    <thead>
        <tr>
            <th>№</th>
            <th>Студент</th>
            {% for day in days %}
                <th>{{day}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url "students_edit" student.id %}">{{ student.last_name }}<br>{{ student.first_name }}</td>
                {% for day in days %}
                    <td>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" checked>
                          </label>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}