{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}
{% block title %}Облік Відвідування{% endblock title %}

{% block content %}


					
<!-- Start Students Listing -->
<table class="table table-hover table-strip table-bordered ">
    <thead>
        <tr>
            <th>№</th>
            <th>Студент</th>
            <th>1<br>Вт</th>
            <th>2<br>Ср</th>
            <th>3<br>Чт</th>
            <th>4<br>Пт</th>
            <th>5<br>Сб</th>
            <th>6<br>Вс</th>
            <th>7<br>Пн</th>
            <th>8<br>Вт</th>
            <th>9<br>Ср</th>
            <th>10<br>Чт</th>
            <th>11<br>Пт</th>
            <th>12<br>Сб</th>
            <th>13<br>Вс</th>
            <th>14<br>Пн</th>
            <th>15<br>Вт</th>
            <th>16<br>Ср</th>
            <th>17<br>Чт</th>
            <th>18<br>Пт</th>
            <th>19<br>Сб</th>
            <th>20<br>Вс</th>
            <th>21<br>Пн</th>
            <th>22<br>Вт</th>
            <th>23<br>Ср</th>
            <th>24<br>Чт</th>
            <th>25<br>Пт</th>
            <th>26<br>Сб</th>
            <th>27<br>Вс</th>
            <th>28<br>Пн</th>
            <th>29<br>Вт</th>
            <th>30<br>Ср</th>
            <th>31<br>Чт</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="{% url "students_edit" 1 %}">Артеменко<br>Роман</a></td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="{% url "students_edit" 1 %}">Калмиков<br>Александр</a></td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="{% url "students_edit" 1 %}">Солод<br>Сергій</a></td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                  </label>
                </div>
            </td>
            <td>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>
                  </label>
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endblock content %}